/* This file is for your memory css. */

@import "~milligram/dist/milligram";

.matched {
    color: black;
    /* Image from http://www.ccs.neu.edu/home/ntuck/ */
    background-image: url('http://www.ccs.neu.edu/home/ntuck/images/nat-photo.jpg');
}

.hidden {
    background-color: grey;
    border-color: grey;
    color: white;
}

.visible {
    color: black;
    /* Image from https://ferrus.net/system/accounts/avatars/000/000/002/original/6afe2be9336ca9c3.jpg */
    background-image: url('https://ferrus.net/system/accounts/avatars/000/000/002/original/6afe2be9336ca9c3.jpg');
}

.tile {
    border-radius: 10px;
    margin: 10px;
    height: 100px;
    width: 100px;
    position: relative;
    background-size: 100% 100%;

}

.hidden-text {
    font-size: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.tile-text {
    font-size: 20px;
    top: 20%;
    left: 10%;
    position: absolute;
    transform: translate(-0%, -0%);
}

.player_info {
    padding-left: 20px;
}

#score-text{
    width: 200px;
}

#blerner {
    height: 300px;
    width: 300px;
}
